target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

/node_modules
package-lock.json
.DS_Store
/src/main/resources/public/bower_components
/src/main/resources/public/dist
Gemfile.lock

db/ubicaciones.db

*.log